:root {
    --shade1: #e7eaf6;
    --shade2: #a2a8d3;
    --shade3: #38598b; 
    --shade4: #113f67; 
}

html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.error {
    color: #F00;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


section{
    padding: 48px 0;
}

section h2{
    padding-bottom: 16px;
}

button{
    padding: 6px;
    background-color: var(--shade4);
    color:white;
    border:none;
    cursor:pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
}

button:hover{
    background-color: var(--shade3);
    font-style: normal;
}

.items-list li strong{
    display: block;
    margin-bottom: 10px;
}

.inputs{
    margin-bottom: 16px;
}

.inputs label{
    margin-bottom: 16px;
    font-weight: bold;
    display: block;
}

.inputs input, .inputs textarea{
    width: 100%;
    display: block;
    padding:8px;
}

.inputs textarea{
    resize: none;
    height: 120px;
}

form button{
    max-width: 120px;
}
